#_dcp_root_ {
  --primary: 244, 83, 138; // #f4538a;
  --secondary: 89, 213, 224; // #59d5e0;
  --success: 57, 229, 140; // #39e58c;
  --error: 255, 89, 98; // #ff5962;
  --warning: 255, 142, 59; // #ff8e3b;
  --info: 0, 145, 255; // #0091ff;

  --rose: 244, 63, 94; // #f43f5e
  --pink: 236, 72, 153; // #ec4899
  --purple: 168, 85, 247; // #a855f7
  --orange: 249, 115, 22; // #f97316
  --blue: 59, 130, 246; // #3b82f6
  --cyan: 6, 182, 212; // #06b6d4
  --yellow: 234, 179, 8; // #eab308

  --base-100: 254, 254, 254; // #fefefe;
  --base-200: 240, 240, 240; // #f0f0f0;
  --base-300: 229, 230, 230; // #e5e6e6;
  --base-content: 44, 44, 44; // #1c1c1c;

  --neutral: 225, 226, 227; // #e1e2e3;
  --divider: 215, 215, 215; // #d7d7d7;

  --grey-100: 245, 245, 245; // #f5f5f5;
  --grey-200: 238, 238, 238; // #eeeeee;
  --grey-300: 224, 224, 224; // #e0e0e0;
  --grey-400: 189, 189, 189; // #bdbdbd;
  --grey-500: 156, 156, 156; // #9c9c9c;
  --grey-600: 117, 117, 117; // #757575;
  --grey-700: 97, 97, 97; // #616161;
  --grey-800: 66, 66, 66; // #424242;
  --grey-900: 33, 33, 33; // #212121;

  &.dark {
    --primary: 250, 107, 154; // #fa6b9a;
    --secondary: 104, 218, 229; // #68dae5;
    --success: 48, 211, 176; // #30d3b0;
    --error: 224, 95, 101; // #e05f65;
    --warning: 247, 154, 87; // #f79a57;
    --info: 0, 181, 255; // #00b5ff;

    --rose: 244, 79, 107; // #f44f6b
    --pink: 234, 85, 160; // #ea55a0
    --purple: 180, 108, 247; // #b46cf7
    --orange: 234, 127, 50; // #ea7f32
    --blue: 76, 139, 240; // #4c8bf0
    --cyan: 35, 180, 206; // #23b4ce
    --yellow: 215, 177, 60; // #d7b13c

    --base-100: 29, 35, 42; // #1d232a;
    --base-200: 25, 30, 36; // #191e24;
    --base-300: 21, 25, 31; // #15191f;
    --base-content: 249, 250, 251; // #f9fafb;

    --neutral: 66, 67, 68; // #424344;
    --divider: 51, 57, 66; // #333942;
  }
}
